body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #101010;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 100px;
}

input {
  padding: 10px;
  width: 250px;
  border: none;
  border-radius: 5px;
  outline: none;
}

button {
  padding: 10px 20px;
  background-color: #107C10;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #0d5e0d;
}

.btn {
  display: inline-block;
  background-color: #107C10;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.btn.small {
  display: block;
  width: 150px;
  margin: 20px auto;
}

#resultMessage {
  margin-top: 15px;
  font-weight: bold;
}
